.cocktail-list {
  /* width: fit-content; */
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 75%;
}

h5.card-title {
  text-align: center;
}

.card.cocktail {
  margin-bottom: 1em;
  background-color: black;
  border: 3px groove whitesmoke;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Engravers Bold";
}

.card-link {
  margin: 0 auto;
  display: block;
}

/* a.card-link{
    text-decoration: none;
    background-color: rgb(94, 10, 10);
    color: whitesmoke;
    padding: 1em;
} */

.user-cocktails {
  width: 90%;
  margin: 1em auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Engravers Bold";
  font-weight: 300;
  font-size: 2rem;
}
