.login {
    margin: 0 auto;
    width: 60%;
    background-color: rgb(24, 23, 23);
    border:5px solid rgba(245, 245, 245, 0.9);
    border-style: ridge;
    /* box-shadow: 0 0 10px 0.2px; */
    padding: 1.5em;
    margin-top: 5em;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.form-errors{
    color: rgba(174, 10, 10, 0.928);
}
